An activity from {{user.firstName}} {{user.lastName}} ({{user.email}}) just went off (forced) with the following message :
{{#if activity.alert_message}}
{{activity.alert_message}}
{{else}}
{{#if constraint.alert_message}}
{{constraint.alert_message}}
{{else}}
This is the default alert message.
Something wrong happened to the aforementioned person.
Please get in touch quickly with him/her or call for help.
{{/if}}
{{/if}}
